<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center; margin-right: 20px!important; color: white;">
      <strong>Fatec SHOW!</strong>
    </ion-title>
  </ion-toolbar>
  <ion-toolbar *ngIf="usuario">
    <ion-grid>
      <ion-row class="ion-text-center">
        <ion-col size="4">
          <div style=" text-align: center; color: white; margin-top: 20px!important;">
            <div class="pp" style="align-items: center ; display: flex; margin-left: 35px;">
           <span style="margin-left: 10px;"><strong>{{usuario.progress}}</strong>%</span> 
            </div>
            <ion-text style="text-align: center;" >Progresso <br> <span style="text-align: center;">(PP)</span> </ion-text  >
          </div>
        </ion-col>
        <ion-col size="4">
          <div style="text-align: center; margin-top: 15px!important;" class="moldura">
            <img src="{{usuario.picture}}" width="90px" alt="">
          </div>
        </ion-col>
        <ion-col size="4">
          <div style="color: white; margin-top: 20px!important;">
            <div class="pr" style="align-items: center ; display: flex; margin-left: 35px;">
              <span style="margin-left: 10px;"><strong>{{usuario.averageGrade}}</strong> </span> 
            </div>
          <ion-text style="text-align: center;">Rendimento <br> <span style="text-align: center;">(PR)</span></ion-text>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="usuario">

  <br>
</ion-content>