ion-header,
ion-toolbar {
  --background: #242a34 !important;
}

.moldura {
  border-radius: 50%;
  color: "primary";
  border: 2px solid #9bbbdc;
  width: 110px;
  margin: auto;
}
img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.pp {
  border-radius: 50%;
  background-color: #5DB0D7;
  height: 50px;
  width: 50px;
}
.pr {
  border-radius: 50%;
  background-color: #5DB0D7;
  height: 50px;
  width: 50px;
}
