<ion-header>
  <ion-toolbar>
    <ion-title  style="text-align: center; margin-right: 20px!important; color: white; margin-top: 10px;">Matérias</ion-title>
    <ion-icon style="font-size: 30px;" color="danger" slot="end" name="close" (click)="modalController.dismiss()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let t of teste"> 
    <ul class="list-group ">
      <li class="list-group-item"><strong>{{t.nome}}</strong> <br> 
        <ion-icon style="font-size: 20px;" color="primary" name="time"></ion-icon>&nbsp; <strong>{{t.startAt }}</strong> hrs as&nbsp;
        <strong>{{t.endAt }}</strong>  hrs </li>
      <!-- <li class="list-group-item">Morbi leo risus</li>
      <li class="list-group-item">Porta ac consectetur ac</li>
      <li class="list-group-item">Vestibulum at eros</li> -->
    </ul>        
    <!-- <ion-col size="6">
      <ion-row>
           
      </ion-row> -->
      <!-- <div class="linha"></div>
    </ion-col> -->
  </div>
</ion-content>