<ion-content class="ion-padding">
  <div padding style="margin-top: 50px;">
      <div style="text-align: center;">
          <span style="font-size: 50px;"><strong>Olá,</strong></span>
      </div>
      <span style="font-size: 20px;">
          <small>
              <div style="text-align: center;">
                login efetuado com <span style="color: green;">sucesso!</span> <br>
                 Obrigado por usar o <br> <strong style="color: #5DB0D7; font-size: 30px;  font-family: 'Bebas Neue', cursive;">Fatec SHOW!</strong> 
              </div>
          </small>
      </span>
  </div>
  <div style="margin-top: 25px;">
      <lottie-animation-view [options]="lottieConfig" [width]="250" [height]="250"></lottie-animation-view>
  </div>
</ion-content>